:root {
  --color-orange-gradient: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  --color-pink-gradient: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  /* Fonts */
  --font-family-roboto: 'Roboto', sans-serif;

  --font-size-114: 114px;
  --font-size-48: 48px;
  --font-size-36: 36px;
  --font-size-24: 24px;
  --font-size-19: 19px;
  --font-size-16: 16px;
  --font-size-15: 15px;

  --font-weight-700: 700;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-300: 300;

  --line-height-80: 80%;
  --line-height-120: 120%;
  --line-height-130: 130%;
  --line-height-140: 140%;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #4b9200;
  --color-orange: #f9804b;
  --color-orange-text: #fe9013;
  --color-orange-dark: #e47209;
  --color-yellow: #ffee2e;
  --color-red: #d31414;
  --color-frosted-glass-white: rgba(253, 253, 255, 0.52);
  --color-black-blue: #333b41;
  --color-gray: #767474;
  --color-gray-smoky: #ababab;
  --color-gray-light: #f1f3f2;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font: inherit;
}

body {
  box-sizing: border-box;
  color: var(--color-black-blue);
  font-size: var(--font-size-16);
  font-family: var(--font-family-roboto);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-140);
  padding-bottom: 200px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Custom classes */
.h1 {
  font-size: var(--font-size-114);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-80);
}

.h2 {
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-120);
}

.h3 {
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-130);
}

.subtitle {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-120);
}

.btn {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-140);
}

.small-paragraph {
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-300);
  line-height: var(--line-height-120);
}

.font-weight-700 {
  font-weight: var(--font-weight-700);
}

.font-weight-500 {
  font-weight: var(--font-weight-500);
}

.font-weight-400 {
  font-weight: var(--font-weight-400);
}

.font-weight-300 {
  font-weight: var(--font-weight-300);
}

.orange-text {
  color: var(--color-orange-text);
}

/* Componennts */
.container {
  max-width: 1160px;
  margin-inline: auto;
}

.button {
  width: 298px;
  padding-block: 16px 16px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-orange);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

.button--round {
  border-radius: 25px;
}

.button--square {
  border-radius: 5px;
}

.button:hover {
  background-color: var(--color-orange-dark);
}

.button:active {
  background-color: var(--color-green);
}

.button:disabled {
  background-color: var(--color-gray);
}

/* header-section */
#header-section {
  padding-block: 14px;
  background-color: var(--color-black);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 82px;
  height: 52px;
  text-align: center;
  padding-block: 3.5px;
  border: 1px solid var(--color-white);
  line-height: 22px;
}

.logo a {
  color: var(--color-white);
}

.header__menu {
  display: flex;
  gap: 58px;
}

.header__menu__link,
.designed-by {
  color: var(--color-white);
  transition: color 0.5s;
}

.header__menu__link:hover,
.designed-by:hover {
  color: var(--color-orange);
}

/* panda-section */
#panda-section {
  padding-block: 86px 100px;
  background-image: url(../../assets/images/panda-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% -80px;
  background-size: cover;
}

/* hero */
.hero {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 160px;
}

.hero__text {
  grid-column: 2 / -1;
  font-size: 106px;
  line-height: 75%;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero__text::after {
  content: '';
  position: absolute;
  top: -20%;
  left: -15%;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background-color: var(--color-orange);
  z-index: -1;
}

.hero__text span {
  color: var(--color-yellow);
}

.hero__button {
  grid-column: 2 / -1;
}

/* backstage-section */
#backstage-section {
  padding-block: 140px 180px;
  background-image: url(../../assets/images/backstage-bg.jpg);
  background-repeat: no-repeat;
  background-position: 100% 10%;
}

.backstage {
  display: grid;
  column-gap: 87px;
  grid-template-columns: repeat(2, 1fr);
}

.backstage .h2 {
  margin-block: 0 20px;
}

.backstage .subtitle {
  margin-block: 54px 34px;
}

/* pets-section */
#pets-section {
  padding-block: 0 100px;
  background-image: url(../../assets/images/pets-bg-1.jpg),
    url(../../assets/images/pets-bg-2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 100% 100%;
  width: 1600px;
}

.pets__carousel {
  margin-block: 0 65px;
  position: relative;
}

.pets__carousel__slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}

.pet-card {
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  transition: all 0.2s;
}

.pet-card__image {
  overflow: hidden;
  position: relative;
  max-height: 366px;
}

.pet-card__image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
}

.pet-card__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 366px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s;
}

.pet-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
  padding-block: 8px 14px;
  transition: all 0.2s;
}

.pet-card__title {
  text-transform: uppercase;
}

.pet-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-card:hover {
  background-color: var(--color-orange);
}

.pet-card:hover .pet-card__image img {
  transform: scale(1.2);
}

.pet-card:hover .pet-card__mask {
  opacity: 1;
}

.pet-card:hover .pet-card__info {
  transform: translateY(-60px);
  color: var(--color-white);
}

.pets__button {
  display: block;
  margin-inline: auto;
}

.pets__arrows {
  position: absolute;
  top: 45%;
  width: 100%;
}

.pets__left-arrow,
.pets__right-arrow {
  position: absolute;
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pets__left-arrow {
  left: -7%;
  background-image: url(../../assets/icons/left-arrow.svg);
}

.pets__right-arrow {
  right: -7%;
  background-image: url(../../assets/icons/right-arrow.svg);
}

/* feed-friend-section */
#feed-friend-section {
  padding-block: 69px 100px;
  background-image: var(--color-orange-gradient);
}

.friend {
  padding-block: 41px 59px;
  padding-inline: 99px;
  border-radius: 20px;
  background-color: var(--color-frosted-glass-white);
}

.friend__title {
  text-align: center;
  margin-block: 0 30px;
}

.friend .subtitle {
  margin-block: 0 40px;
}

.friend a {
  color: var(--color-black-blue);
  border-bottom: 1px solid var(--color-orange);
}

.friend .h3 {
  text-align: center;
  margin-block: 40px;
}

.friend .font-weight-500 {
  margin-bottom: 10px;
}

.works {
  max-width: 764px;
  margin-inline: auto;
  margin-block: 0 20px;
  gap: 130px;
  display: flex;
  justify-content: space-between;
}

.works__card {
  max-width: 168px;
}

.works__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 54px 30px;
  background-color: var(--color-white);
  border-radius: 5px;
  border: 1px solid var(--color-orange);
  margin-block: 0 30px;
}

.friend__button {
  display: block;
  margin-inline: auto;
}

#testimonials-section {
  padding-block: 140px 180px;
  background-image: url(../../assets/images/leav_foto.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: 100%;
  background-position: bottom;
}

.testimonials .h3 {
  text-align: center;
  margin-block: 0 47px;
}

.testimonials-container {
position: absolute;
height: 575px;
width: 1160px;
left: 222px;
right: 218px;
top: 3766px;
}

.testimonials .testimonial__card {
box-sizing: border-box;
position: absolute;
width: 267px;
height: 391px;
left: calc(50% - 267px/2 + 148.5px);
top: 94px;
background: #F1F3F2;
border-radius: 20px;
}

#footer-section {
  padding-block: 14px;
  background-color: var(--color-black);
}

.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
width: 939px;
height: 353px;
left: calc(50% - 939px/2 + 0.5px);
bottom: 45px;
  
}


.logo {
  width: 82px;
  height: 52px;
  text-align: center;
  padding-block: 3.5px;
  border: 1px solid var(--color-white);
  line-height: 22px; 
}


.submit-form .subscribe {

position: absolute;
width: 237px;
height: 29px;
right: 161px;
top: 0px;

/* subtitle */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;



color: #FFFFFF;

}




